package

import org.springframework.stereotype.Service;

${package.ServiceImpl}
        ;
    ${package.Entity}.${entity};
    ${package.Service}.${table.serviceName};
    ${superServiceImplClassPackage}
        ;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @date ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${entity}> implements ${table.serviceName} {
	
}
